.button {

	color: black;
	font-size: 225%;
	display: inline-block;
	font-weight: bold;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #000000;
	padding: 50px;

}